.table-mobile {
  font-size: 8px
}
.before {
  background: #CCFFFF;
}

.after {
  background: #EEE8AA;
}

.low {
  background: #C6F2A8;
}

.caution {
  background: #FCE3B5;
}

.high {
  background: #FAC0BE;
}
